
@{
    ViewBag.Title = "MyPosts";
    var Jobs = ViewData["jobs"] as List<IAProject_FreelancerSystem.Models.Job>;
    var Job = ViewData["Job"] as IAProject_FreelancerSystem.Models.Job;

}

    <br>
    <br>
    <div class="container body-content">

        <div class="row mt-4">
            <form action="/FactoryLayout/Search" method="post" class="col-md-6">
                <input style="display: none" type="text" name="type" value="title" />
                <div class="row g-3">
                    <div class="col-sm-7">
                        <input type="text" name="dataToSearch" class="form-control" placeholder="Search with Title">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="container body-content mt-5">
            <h2>My Posts</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Budget</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Accept</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Jobs.Count(); i++)
                    {
                        <tr>
                            <th>
                                @Jobs[i].jobTitle
                            </th>
                            <th>
                                @Jobs[i].jobBudget
                            </th>
                            <th>
                                @Jobs[i].jobType
                            </th>
                            <th>
                                @Jobs[i].jobDescription
                            </th>
                            <th>
                                @Jobs[i].creationDate
                            </th>
                            <th>
                                <form action="/FactoryLayout/myposts" method="post">
                                    <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                                    <input type="submit" value="Edit" class="btn btn-primary" />
                                </form>
                                <form action="/FactoryLayout/DeletePost" method="post">
                                    <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                                    <input type="submit" value="Delete" class="btn btn-primary" />
                                </form>
                            </th>
                        </tr>
                    }

                </tbody>
            </table>
            <hr />

            @if (Job != null)
            {
                <div class="row justify-content-center mt-5">
                    <form class=" col-md-4" action="/FactoryLayout/EditJob" method="post">
                        <h5>Update Data</h5>
                        <input style="display: none" type="text" name="jobID" value="@Job.jobID" />
                        <div class=" mt-4">
                            <label for="validationCustom01" class="form-label">Title</label>
                            <input type="text" class="form-control" id="validationCustom01" name="jobTitle" value="@Job.jobTitle" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Budget</label>
                            <input type="text" class="form-control" id="validationCustom02" name="jobBudget" value="@Job.jobBudget" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="validationCustom02" class="form-label">Role:</label>
                            <select class="form-control" aria-label="Default select example" name="jobType" value="@Job.jobType">
                                @if (Job.jobType == "Hourely")
                                {
                                    <option value="Hourely" selected>Hourely</option>
                                    <option value="Fixed">Fixed</option>
                                }
                                else
                                {
                                    <option value="Hourely">Hourely</option>
                                    <option value="Fixed" selected>Fixed</option>
                                }
                            </select>

                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Description</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" name="jobDescription" value="@Job.jobDescription">
                        </div>

                        <button type="submit" class="btn btn-primary mt-2 col-12">Confirm edit</button>
                    </form>
                </div>
            }
        </div>
    </div>