
@{
    ViewBag.Title = "ReceivedProposals";
    var jobList = ViewData["jobList"] as List<IAProject_FreelancerSystem.Models.Job>;
    var proposalList = ViewData["proposalList"] as List<IAProject_FreelancerSystem.Models.Proposal>;
    var userList = ViewData["userList"] as List<IAProject_FreelancerSystem.Models.User>;

}

    <br>
    <br>
    <div class="container body-content">
        @for (int i = 0; i < jobList.Count(); i++)
        {
            <h4>For the Job: @jobList[i].jobTitle</h4>
            <div class="myDiv">
                @for (int j = 0; j < proposalList.FindAll(p => p.jobID == jobList[i].jobID).Count(); j++)
                {
                    var prop = proposalList.FindAll(p => p.jobID == jobList[i].jobID)[j];
                    <h6>Price: @prop.propPrice</h6>
                    <h6>Description: @prop.propDescription</h6>
                    <h6>Freelancer: @userList.FindAll(u => u.userID == prop.freelancerID)[0].userName</h6>
                    <form action="/FactoryLayout/AcceptProposel" method="post" class="col-md-6">
                        <input style="display: none" type="text" name="jobID" value="@jobList[i].jobID" />
                        <input style="display: none" type="text" name="freelancerID" value="@prop.freelancerID" />
                        @if (jobList[i].freelancerID == 0)
                        {
                            <button type="submit" class="btn btn-primary mb-2">Accept</button>
                        }
                    </form>
                }
                <hr />
            </div>
        }
    </div>