
@{
    ViewBag.Title = "ReceivedProposals";
    var proposals= ViewData["proposals"] as List<IAProject_FreelancerSystem.Models.Proposal>;
}

<h2>ReceivedProposals</h2>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title = "PostsPage";</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FreeLance", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profile", "Profile", "FactoryLayout")</li>
                    <li>@Html.ActionLink("Create New Post", "CreateNewPost", "FactoryLayout")</li>
                    <li>@Html.ActionLink("My Posts", "MyPosts", "FactoryLayout")</li>
                    <li>@Html.ActionLink("Recived Proposals", "ReceivedProposals", "FactoryLayout")</li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container body-content">
        @for (int i = 0; i < proposals.Count(); i++)
        {
            <div class="myDiv">
                <p>@proposals[i].propID</p>
                <p>@proposals[i].jobID</p>
                <p>@proposals[i].freelancerID</p>
                <p>@proposals[i].propDescription</p>
                <p>@proposals[i].propPrice</p>
            </div>
        }
    </div>
</body>
</html>