@{
    ViewBag.Title = "Index";
    var Jobs = ViewData["Jobs"] as List<IAProject_FreelancerSystem.Models.Job>;
    var Clients = ViewData["Clients"] as List<IAProject_FreelancerSystem.Models.User>;


}



<div class="container body-content mt-5">
    <h2>PostsRequests</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Budget</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Jobs.Count(); i++)
            {
                <tr>
                    <th>
                        @Jobs[i].jobTitle
                    </th>
                    <th>
                        @Clients[i].fName @Clients[i].lName
                    </th>
                    <th>
                        @Jobs[i].jobBudget
                    </th>
                    <th>
                        @Jobs[i].jobType
                    </th>
                    <th>
                        @Jobs[i].jobDescription
                    </th>
                    <th>
                        @Jobs[i].creationDate
                    </th>
                    <th>
                        <form action="/Dashboard/UpdateJobType" method="post">
                            <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                            <input style="display: none" type="text" name="type" value="Accepted" />
                            <input type="submit" value="Accept" class="btn btn-primary" />
                        </form>
                    </th>
                    <th>
                        <form action="/Dashboard/UpdateJobType" method="post">
                            <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                            <input style="display: none" type="text" name="type" value="Blocked" />
                            <input type="submit" value="Block" class="btn btn-danger" />
                        </form>
                    </th>
                </tr>
            }

        </tbody>
    </table>
</div>