@{
    ViewBag.Title = "Index";
    var Jobs = ViewData["Jobs"] as List<IAProject_FreelancerSystem.Models.Job>;
    var Job = ViewData["Job"] as IAProject_FreelancerSystem.Models.Job;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title = "PostsPage";</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profile", "Profile", "Dashboard")</li>
                    <li>@Html.ActionLink("Users’ page", "UsersPage", "Dashboard")</li>
                    <li>@Html.ActionLink("Posts page", "PostsPage", "Dashboard")</li>
                    <li>@Html.ActionLink("Posts Requests", "PostsRequests", "Dashboard")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Dashboard")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <h2>Posts Page</h2>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Client</th>
                    <th>Budget</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>jobStatus</th>
                    <th>Rate</th>
                    <th>propCount</th>
                    <th>Date</th>
                    <th>Delete</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Jobs.Count(); i++)
                {
                    <tr>
                        <th>
                            @Jobs[i].jobTitle
                        </th>
                        <th>
                            @Jobs[i].clientID
                        </th>
                        <th>
                            @Jobs[i].jobBudget
                        </th>
                        <th>
                            @Jobs[i].jobType
                        </th>
                        <th>
                            @Jobs[i].jobDescription
                        </th>
                        <th>
                            @Jobs[i].jobStatus
                        </th>
                        <th>
                            @Jobs[i].jobAVGRate
                        </th>
                        <th>
                            @Jobs[i].propCount
                        </th>
                        <th>
                            @Jobs[i].creationDate
                        </th>
                        <th>
                            <form action="/Dashboard/PostsPage" method="post">
                                <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                                <input type="submit" value="Edit" />
                            </form>
                        </th>
                        <th>
                            <form action="/Dashboard/DeleteJob" method="post">
                                <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                                <input type="submit" value="Delete" />
                            </form>
                        </th>
                    </tr>
                }

            </tbody>
        </table>
        <hr />
        @if (Job != null)
        {
    <form action="/Dashboard/UpdateJob" method="post">
        <h2>Update Data</h2>
        <input style="display: none" type="text" name="jobID" value="@Job.jobID" />
        <h3>Title: <input type="text" name="jobTitle" value="@Job.jobTitle" /></h3>
        <h3>Budget: <input type="text" name="jobBudget" value="@Job.jobBudget" /></h3>
        <h3>Type: <input type="text" name="jobType" value="@Job.jobType" /></h3>
        <h3>Description: <input type="text" name="jobDescription" value="@Job.jobDescription" /></h3>
        <input type="submit" value="Update" />
    </form>
        }
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
