@{
    ViewBag.Title = "Index";
    var Jobs = ViewData["Jobs"] as List<IAProject_FreelancerSystem.Models.Job>;
    var Job = ViewData["Job"] as IAProject_FreelancerSystem.Models.Job;
    var Clients = ViewData["Clients"] as List<IAProject_FreelancerSystem.Models.User>;

}


<div class="container body-content mt-5">
    <h2>Posts Page</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Client</th>
                <th>Budget</th>
                <th>Type</th>
                <th>Description</th>
                <th>Rate</th>
                <th>Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Jobs.Count(); i++)
            {
                <tr>
                    <th>
                        @Jobs[i].jobTitle
                    </th>
                    <th>
                        @Clients[i].fName @Clients[i].lName
                    </th>
                    <th>
                        @Jobs[i].jobBudget
                    </th>
                    <th>
                        @Jobs[i].jobType
                    </th>
                    <th>
                        @Jobs[i].jobDescription
                    </th>
                    <th>
                        @Jobs[i].jobAVGRate
                    </th>
                    <th>
                        @Jobs[i].creationDate
                    </th>
                    <th>
                        <form action="/Dashboard/PostsPage" method="post">
                            <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                            <input type="submit" value="Edit" class="btn btn-primary" />
                        </form>
                    </th>
                    <th>
                        <form action="/Dashboard/DeleteJob" method="post">
                            <input style="display: none" type="text" name="jobID" value="@Jobs[i].jobID" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </th>
                </tr>
            }

        </tbody>
    </table>
    <hr />


    @if (Job != null)
    {
        <div class="row justify-content-center mt-5">
            <form class=" col-md-4" action="/Dashboard/UpdateJob" method="post">
                <h5>Update Data</h5>
                <input style="display: none" type="text" name="jobID" value="@Job.jobID" />
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">Title</label>
                    <input type="text" class="form-control" id="validationCustom01" name="jobTitle" value="@Job.jobTitle" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Budget</label>
                    <input type="text" class="form-control" id="validationCustom02" name="jobBudget" value="@Job.jobBudget" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Type</label>
                    <input type="text" class="form-control" id="validationCustom02" name="jobType" value="@Job.jobType" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Description</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="jobDescription" value="@Job.jobDescription">
                </div>

                <button type="submit" class="btn btn-primary mt-2 col-12">Confirm edit</button>
            </form>
        </div>
    }

</div>