@{
    ViewBag.Title = "Index";
    var user = ViewData["User"] as IAProject_FreelancerSystem.Models.User;

}
<div class="bg py-5">
    <section class="container">
        <div class=" body-content profile_header row align-items-center my-5 justify-content-center mt-3">
            <div class="col-md-3 col-12">
                <img src="@user.userPhoto" width="100%" />
            </div>
            <div class="col-md-3 col-12 mt-4">
                <h3 style="font-weight: 700; ">@user.fName  @user.lName<p>@@ @user.userName</p></h3>
                <hr>
                <div class="d-flex align-items-center mt-2">
                    <div><i class="far fa-envelope"></i></div>
                    <p class="m-0">@user.email</p>
                </div>
                <div class="d-flex align-items-center mt-2">
                    <div><i class="fas fa-phone"></i></div>
                    <p class="m-0">@user.phoneNum</p>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        @using (Html.BeginForm("UpdateAdmin", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input style="display: none" type="text" name="userID" value="@user.userID" />
            <input style="display: none" type="text" name="role" value="admin" />

            <h5>Edit your profile information</h5>
            <div class=" mt-4">
                <label for="validationCustom01" class="form-label">First name</label>
                <input type="text" class="form-control" id="validationCustom01" name="fName" value="@user.fName" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class=" mt-2">
                <label for="validationCustom02" class="form-label">Last name</label>
                <input type="text" class="form-control" id="validationCustom02" name="lName" value="@user.lName" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class=" mt-2">
                <label for="validationCustom02" class="form-label">User name</label>
                <input type="text" class="form-control" id="validationCustom02" name="userName" value="@user.userName" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class=" mt-2">
                <label for="validationCustom02" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" value="@user.email">
            </div>

            <div class=" mt-2">
                <label for="validationCustom02" class="form-label">Phone number</label>
                <input type="text" class="form-control" id="validationCustom02" name="phoneNum" value="@user.phoneNum" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mt-2">
                <label for="validationCustom02" class="form-label">Photo:</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="postedFile">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>

            <div class="mb-3 mt-2">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="userPassword" value="@user.userPassword">
            </div>
            <button type="submit" class="btn btn-primary mt-2 col-12">Confirm edit</button>
        }
    </div>
</div>
