@{
    ViewBag.Title = "Index";
    var Users = ViewData["Users"] as List<IAProject_FreelancerSystem.Models.User>;
}
<div class="container body-content mt-5">
    <h2>Users' Page</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Phone Num</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @for (int i = 0; i < Users.Count(); i++)
            {
                <tr>
                    <th>
                        <img src="@Users[i].userPhoto" width="20" height="20" />
                    </th>
                    <th>
                        @Users[i].fName @Users[i].lName
                    </th>
                    <th>
                        @Users[i].userName
                    </th>
                    <th>
                        @Users[i].email
                    </th>
                    <th>
                        @Users[i].phoneNum
                    </th>
                    <th>
                        @Users[i].role
                    </th>
                    <th>
                        <form action="/Dashboard/DeleteUser" method="post">
                            <input style="display: none" type="text" name="userID" value="@Users[i].userID" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </th>
                </tr>
            }

        </tbody>
    </table>

    <hr />


    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            @using (Html.BeginForm("AddUser", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h5>Add New User</h5>
                <div class=" mt-4">
                    <label for="validationCustom01" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="validationCustom01" name="fName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="validationCustom02" name="lName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">User Name:</label>
                    <input type="text" class="form-control" id="validationCustom02" name="userName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                </div>
                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Phone Number:</label>
                    <input type="text" class="form-control" id="validationCustom02" name="phoneNum" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class=" mt-2">
                    <label for="validationCustom02" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="validationCustom02" name="userPassword" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mt-2">
                    <label for="validationCustom02" class="form-label">Photo:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile01" name="postedFile">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <div class="mt-2">

                    <label for="validationCustom02" class="form-label">Role:</label>
                    <select class="form-control" aria-label="Default select example" name="role">
                        <option value="client">Client</option>
                        <option value="freelancer">Freelancer</option>
                    </select>

                </div>

                <button type="submit" class="btn btn-primary mt-2 col-12">Confirm</button>

            }
        </div>
    </div>


</div>

