
@{
    ViewBag.Title = "Index";
    var User = Session["User"] as IAProject_FreelancerSystem.Models.User;

    var savedJobs = ViewData["savedJobs"] as List<IAProject_FreelancerSystem.Models.SavedJob>;

    var rates = ViewData["ratedJobs"] as List<IAProject_FreelancerSystem.Models.Rate>;

    var proposels = ViewData["proposelJob"] as List<IAProject_FreelancerSystem.Models.Proposal>;

    var jobs = ViewData["Jobs"] as List<IAProject_FreelancerSystem.Models.Job>;

    var Clients = ViewData["clients"] as List<IAProject_FreelancerSystem.Models.User>;

}



    <div class="container body-content">

        <div class="row mt-4">
            <form action="/Wall/Search" method="post" class="col-md-6">
                <input style="display: none" type="text" name="type" value="title" />
                <div class="row g-3">
                    <div class="col-sm-7">
                        <input type="text" name="dataToSearch" class="form-control" placeholder="Search with Title">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>

            <form action="/Wall/Search" method="post" class="col-md-6">
                <input style="display: none" type="text" name="type" value="client" />
                <div class="row g-3">
                    <div class="col-sm-7">
                        <input type="text" name="dataToSearch" class="form-control" placeholder="Search with Client">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-primary mb-2">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <form action="/Wall/Search" method="post">
            <input style="display: none" type="text" name="type" value="createDate" />
            <div class="row g-3">
                <div class="col-sm-5">
                    <input type="datetime-local" name="from_dataToSearch" class="form-control">
                </div>
                <div class="col-sm-5">
                    <input type="datetime-local" name="to_dataToSearch" class="form-control" placeholder="State" aria-label="State">
                </div>
                <div class="col-sm">
                    <button type="submit" class="btn btn-primary mb-2">Search</button>
                </div>
            </div>
        </form>

        <!-- Start of Jobs Card -->
        <div class="row mt-5">
            @for (int i = 0; i < jobs.Count(); i++)
            {

                <div class=" col-md-4 col-12 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@jobs[i].jobTitle</h5>
                            <p>By: @Clients[i].userName at @jobs[i].creationDate</p>
                            <div class="row mt-3">
                                <p class="card-text price col-md-4 col-6 m-0">@jobs[i].jobBudget EGP</p>
                                <div class="col-md-8 col-6">
                                    <i class="fa fa-star"></i><span>@jobs[i].jobAVGRate</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <p class="card-text col-md-4 col-6 ">@jobs[i].jobType</p>
                                <p class="card-text col-md-4 col-6 ">Applayed: @jobs[i].propCount</p>
                            </div>
                            <p class="card-text">job Description :@jobs[i].jobDescription</p>

                            @if (User != null)
                            {
                                <hr>
                                <div class="row mt-3">


                                    <div class="col-md-4 col-6 m-0">
                                        <!-- Start of Save -->
                                        <form action="/Wall/SaveJob" method="post">
                                            <input style="display: none" type="text" name="userID" value="@User.userID" />
                                            <input style="display: none" type="text" name="jobID" value="@jobs[i].jobID" />
                                            <input style="display: none" type="text" name="jobTitle" value="@jobs[i].jobTitle" />
                                            @if (savedJobs.FindAll(s => s.jobID == jobs[i].jobID).Count() == 0)
                                            {
                                                <input type="submit" class="btn btn-primary" value="Save" />
                                            }
                                            else
                                            {
                                                <input type="submit" disabled class="btn btn-primary " value="Saved" />
                                            }
                                        </form>
                                        <!-- End of Save -->
                                    </div>

                                    <div class="col-md-4 col-6 m-0">
                                        <!-- Start of Propsel -->
                                        <script type="text/javascript">
                                            function ToggleDiv(id) {
                                                console.log(id)
                                                if (document.getElementById(id).style.display == 'block')
                                                    document.getElementById(id).style.display = 'none';
                                                else
                                                    document.getElementById(id).style.display = 'block';
                                            }
                                        </script>
                                        @if (proposels.FindAll(s => s.jobID == jobs[i].jobID).Count() == 0)
                                        {
                                            <button ID="btn" runat="server" Text="Show First Div"
                                                    onclick="ToggleDiv(@jobs[i].jobID);" class="btn btn-primary">
                                                Give a Proposel
                                            </button>
                                        }
                                        else
                                        {
                                            <button ID="btn" disabled runat="server" Text="Show First Div"
                                                    onclick="ToggleDiv(@jobs[i].jobID);" class="btn btn-primary">
                                                Proposel Already Send
                                            </button>
                                        }
                                        <br />
                                        <div id="@jobs[i].jobID" style="display: none;">
                                            <form action="/Wall/GivePropsel" method="post">
                                                <input style="display: none" type="text" name="userID" value="@User.userID" />
                                                <input style="display: none" type="text" name="jobID" value="@jobs[i].jobID" />
                                                Price: <input type="number" class="form-control" name="propPrice" />
                                                Describtion: <textarea type="text" class="form-control" name="propDescription"></textarea>
                                                <input type="submit" value="Submit" class="btn btn-primary mt-2"/>
                                            </form>
                                        </div>
                                        <!-- End of Propsel -->
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12 col-6 m-0">
                                        <!-- Start of Rate -->
                                        @if (rates.FindAll(r => r.jobID == jobs[i].jobID).Count() != 0)
                                        {
                                            <h5>@rates.FindAll(r => r.jobID == jobs[i].jobID)[0].rate / 5</h5>
                                        }
                                        else
                                        {
                                            <form action="/Wall/GiveRate" method="post" class="form-inline">
                                                <input style="display: none" type="text" name="userID" value="@User.userID" />
                                                <input style="display: none" type="text" name="jobID" value="@jobs[i].jobID" />
                                                <input type="number" max="5" name="rateToAdd" class="form-control"/>
                                                <input type="submit" value="Rate" class="btn btn-primary ml-2"/>
                                            </form>
                                        }
                                        <!-- End of Rate -->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal_Register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Register</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Start of Register Form -->
                    @using (Html.BeginForm("RegisterForm", "Wall", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class=" mt-4">
                            <label for="validationCustom01" class="form-label">First Name:</label>
                            <input type="text" class="form-control" id="validationCustom01" name="fName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Last Name:</label>
                            <input type="text" class="form-control" id="validationCustom02" name="lName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">User Name:</label>
                            <input type="text" class="form-control" id="validationCustom02" name="userName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Phone Number:</label>
                            <input type="text" class="form-control" id="validationCustom02" name="phoneNum" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="validationCustom02" name="userPassword" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="validationCustom02" class="form-label">Photo:</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" name="postedFile">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                        </div>
                        <div class="mt-2">
                            <label for="validationCustom02" class="form-label">Role:</label>
                            <select class="form-control" aria-label="Default select example" name="role">
                                <option value="client">Client</option>
                                <option value="freelancer">Freelancer</option>
                            </select>

                        </div>

                        <button type="submit" class="btn btn-primary mt-2 col-12">Register</button>

                    }
                    <!-- End of Register Form -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal_Login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Start of Login Form -->
                    <form action="/Wall/LoginForm" method="post">
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">User Name:</label>
                            <input type="text" class="form-control" id="validationCustom02" name="userName" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class=" mt-2">
                            <label for="validationCustom02" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="validationCustom02" name="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-2 col-12">Login</button>
                    </form>
                    <!-- End of Login Form -->
                </div>
            </div>
        </div>
    </div>