
@{
    ViewBag.Title = "SavedJobs";
    var savedJobs = ViewData["SavedJobs"] as List<IAProject_FreelancerSystem.Models.Job>;

    var Clients = ViewData["clients"] as List<IAProject_FreelancerSystem.Models.User>;
}



    <div class="container body-content">
        <div class="row mt-5">
            @for (int i = 0; i < savedJobs.Count(); i++)
            {
                <div class=" col-md-4 col-12 p-2">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@savedJobs[i].jobTitle</h5>
                            <p>By: @Clients[i].userName at @savedJobs[i].creationDate</p>
                            <div class="row mt-3">
                                <p class="card-text price col-md-4 col-6 m-0">@savedJobs[i].jobBudget EGP</p>
                                <div class="col-md-8 col-6">
                                    <i class="fa fa-star"></i><span>@savedJobs[i].jobAVGRate</span>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <p class="card-text col-md-4 col-6 ">@savedJobs[i].jobType</p>
                                <p class="card-text col-md-4 col-6 ">Applayed: @savedJobs[i].propCount</p>
                            </div>
                            <p class="card-text">job Description :@savedJobs[i].jobDescription</p>

                            <hr>
                        </div>
                        </div>
                    </div>

                        }
                    </div>

            </div>
